.body{
/*padding-top: 70px;*/
/*font-family: 'Montserrat', sans-serif;*/
 font-family: 'Poppins', sans-serif;
}

/*==============Start Navbar===========*/
.navbar{
min-height: 55px;
}
.navbar-inverse .navbar-brand{
line-height: 30px;
font-size: 30px; 
color:#fff;    
}
.navbar-brand span{
color: #deb80d;
}
.navbar-toggle{
margin-top: 10px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
color: #deb80d ;
font-weight: 600;    
border-bottom:2px solid  #deb80d;
   
}
.navbar-nav > li > a{
padding-bottom: 20px;
padding-top: 20px;    
font-size: 16px;
}
.dropdown-menu {
background-color:#333;
border-bottom: 2px solid #deb80d;
min-width: 180px;     
}
.navbar-right .dropdown-menu{
left: 0;
right: auto;
}
.dropdown-menu > li > a {
color: #fff;
padding: 7px 20px;    
transition: padding 0.5s ease;    
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
background-color:#deb80d;
color: #fff;
padding-left: 30px;
}
.dropdown-menu .divider{
background-color:#deb80d;
height: 2px;    
}
/*================End= Navbar==================*/
/*============== Start Carousel================*/
.carousel .overlay {
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}
.carousel-caption{
bottom: 170px;
}
.item .carousel-caption h2 span{
color: #deb80d;
font-weight: 700;    
}
.item .carousel-caption h2{
margin-bottom: 30px;
font-size: 4.5rem; 
}
.item .carousel-caption p{
line-height: 1.7;
font-weight: normal;  
}

.carousel-indicators li{
border: 1px solid #deb80d;
width: 12px;
height: 12px;    
}
.carousel-indicators .active{
background-color: #deb80d;
width: 13px;
height: 13px;    
}
/*================ End Carousel================*/
/*=========Starting About Section=============*/
.about{
color: #756f6f;    
padding-top: 30px;
padding-bottom: 50px; 
margin-top: 20px;    
}
.about span {
color: #deb80d;
font-weight:600;    
}
.about h3{
max-width: 600px;
margin:auto;
margin-top: 25px;
margin-bottom: 25px;      
}

.about .info {
/*
float: right;
width: 48%;
*/
margin-bottom:20px;
margin-top: 20px;   
}
.about .info img {
margin: 30px 0 10px 0 ;
width: 150px;
height: 150px;
vertical-align: middle;
} 
.about .info .lead{
margin: 0 auto;    
max-width: 700px;    
color: #888;
margin-top: 15px;
font-size: 22px; 
line-height: 3.5rem;    
}
/*====Video  Section====*/
/*
.about .video {
float: left;
width: 48%;
margin-bottom:20px;
margin-top: 20px;
margin-right: 2%;    
position: relative;
width: 570px;
height: 380px;    
}
.about .video .vicon{
display: block;
position: absolute;
margin: 139px 200px auto;
width: 30%;
font-size: 82px;
color: #deb80d;
text-align: center;
font-weight: normal;    
}   
*/
/*=============Ending About Section=============*/
/*============Starting Features Scetion==========*/
.features{
padding-top: 20px;
padding-bottom: 50px;
background-color: #fbfbfb;    
}
.features h2 {
text-align: center;
margin-bottom: 50px;
font-weight: 600;    
color: #756f6f;
     
}
.features .squre{
margin-bottom:30px;
}
.features .squre i{
color:#deb80d; 
margin-right:15px; 
margin-top: 15px;
} 
.features .squre  h3 {
font-weight: 600;
font-size: 21px;    
}
.features .squre p {
line-height: 2.4rem;    
}
/*============Ending Features Scetion==========*/
/*=========Starting Testimonials================*/
.Testimonials{
padding-bottom: 50px;
padding-top: 20px;
background-color: #EEEEEE;    
}
.Testimonials h2{
margin-bottom:30px;
font-weight: 600;
color: #756f6f;
     
}
.Testimonials .lead {
line-height:1.5em;
margin-bottom:20px;
}
.Testimonials span {
font-size:20px;
font-weight:bold;
color:#deb80d;    
}
.Testimonials .carousel-inner {
min-height:160px;
}
.Testimonials .carousel-indicators {
position:static;
width:100%;
margin-left:auto;
padding-top:20px;
}
.Testimonials .carousel-indicators li{
text-indent: 0;
width: 50px;
height: 50px;
border: none;
opacity: .4;
border-radius: 50%;
overflow: hidden;
margin: 3px;
transition:all 0.5s ease;
}
.Testimonials .carousel-indicators li.active{
opacity: 1;
background: none;
border: 3px solid #deb80d;   
}
.Testimonials .carousel-indicators li img {
max-width: 100%;
}
/*=========Ending Testimonials==================*/
/*=============Starting Prices==================*/
.price-table{
text-align: center;
padding-top:20px;    
}
.price-table h2{
margin-bottom:20px;
font-weight: 600;
color: #756f6f;
 
}
.price-table .content {
height: 300px;    
background-color:white;
box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.17);    
border-radius: 5px;
text-align: center;
margin-bottom: 20px;

}
.price-table .content h3 {
font-weight: 600;
font-size: 20px;   
padding-top: 23px;    
}
.price-table .content .cover {
 width: 100%;
 height:180px;
 background-color: chartreuse;    
 position: relative;    
}
.price-table .content .cover .c-overlay{
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
display: none;
}
.price-table .content .cover .c-overlay button{
font-size: 16px;
letter-spacing: 1xp;    
border: 1px solid #fff;
background: none;
color: #fff;    
width: 180px;
height: 50px;
display: block;
margin: 60px auto;
text-align: center; 
}
.price-table .content .cover .c-overlay button:hover{
background-color:#DEB80D;       
color: white;
border: none;
border-radius: 20px; 
font-size: 17px;
letter-spacing: 1px;
}
.price-table .content .cover img {
width: 100%;
height: 100%;
}
.price-table .content .cover:hover .c-overlay{
display: block;
}
.price-table .content .btn{
width: 150px;
}
/*===============Ending Prices==================*/
/*===============starting Team==================*/
.our-team{
margin-top: 30px;
background: url("../images/twitterhead.jpg") no-repeat center center fixed;
min-height:600px;
}
.our-team .team{
background:rgba(2,2,2,0.6);
color: white;
min-height: 600px;
padding-bottom: 20px;
padding-top: 20px;    
}
.our-team .team h2{
margin-bottom:20px;
font-weight: 600;
  
}
.our-team .member {
height: 350px;    
background-color:white;
box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.17);    
border-radius: 5px;
text-align: center;
margin-bottom: 20px;
border-radius: 10px;    
}
 
.our-team .member .item {
 width: 100%;
 height:300px;
 background-color: chartreuse;    
 position: relative;
margin-top: 40px;
}
.our-team .member .item .c-overlay{
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
display: none;
border-radius: 10px 10px 0 0;   
}
.our-team .member .item .c-overlay button{
font-size: 16px;
letter-spacing: 1xp;    
border: 1px solid #fff;
background: none;
color: #fff;    
width: 180px;
height: 50px;
display: block;
margin: 10px auto;
text-align: center; 
}
.our-team .member .item .c-overlay button:hover{
background-color:#DEB80D;       
color: white;
border: none;
border-radius: 20px; 
font-size: 17px;
letter-spacing: 1px;    
}
.our-team .member .item .c-overlay h4{
margin-top: 20px;
}
.our-team .member .item .c-overlay p {
font-size: 16px;
letter-spacing: 1xp;
color: #fff;
text-align: center;
font-weight: normal;
margin-bottom: 5px;
line-height: 2;
}
.our-team .member .item .c-overlay .social-links{
height: 60px;
width: 170px;    
margin: auto;
margin-top: 10px;    
}
.our-team .member .item .c-overlay .social-links i:hover {
color:#DEB80D;
cursor: pointer;
}
.our-team .member .item img {
width: 100%;
height: 100%;
border-radius: 10px 10px 0 0; 
}
.our-team .member .item p {
margin: 10px;
color: #DEB80D;
font-size: 22px;
font-weight: 600;
}
.our-team .member .item:hover .c-overlay{
display: block;
}
/*===============Ending Team=====================*/
/*===============starting Newsletter=============*/
.Newsletter{
background-color: #fff;    
min-height: 300px;
}
.Newsletter h2 {
text-align: center;
padding-top:20px;    
margin-bottom: 20px;
font-weight: 600;    
color: #756f6f;
   
}
.Newsletter p {
font-size: 24px;
letter-spacing:1px;
margin-bottom: 50px;
color: #756f6f;
}
.Newsletter .form-control {
border-radius:0;
margin-right:-5px;
width:300px;
}

.Newsletter button {
border-radius:0;
}
.Newsletter .form-inline button{
border: none;
background-color:#DEB80D;    
font-size: 20px;
color: white;
}
/*===============Ending Newsletter===============*/
/*===============starting statistics=============*/
.statistics {
background:url('../images/stats.jpg') no-repeat center center fixed;
min-height:300px;
} 
.statistics .stat-cover{
background: rgba(2,2,2,.8);
color:#B6B5B5;
min-height:300px;
padding-top:20px;
padding-bottom:60px    
}
.statistics .stat-cover h2{
text-align: center;
margin-bottom: 40px;
font-weight: 600;    
 
}
.statistics .stats {margin-bottom:30px}

.statistics .stats:hover {color:#FFF}

.statistics p {font-size:60px;font-weight:800;margin-bottom:0}

.statistics span {font-size:20px;letter-spacing: 1px;}
/*===============Ending statistics===============*/
/*===============Starting Skills=================*/
.skills{
padding-bottom: 60px;
padding-top: 20px; 
}
.skills h2{
margin-bottom:20px;
font-weight: 600;
text-align: center;
}
.skills h3{
font-weight:bold;
margin-top:0
}
.skills .progress {height:36px}

.skills .progress-bar {
line-height:36px;
font-size:15px;
font-weight:bold;
text-align:left;
text-indent:10px;
}
/*===============Ending Skills===================*/
/*===============starting contact us===================*/
.contact-us{
margin-top: 30px;
background: url("../images/contact-us.jpg") no-repeat center center fixed;
min-height:400px;
}
.contact-us .con-box {
background:rgba(2,2,2,0.7);
min-height: 400px;
padding-bottom: 20px;
padding-top: 20px; 
color: #ddd;    
}
.contact-us .con-box h2{
font-weight: 600;
color: #756f6f;    
}
.contact-us .con-box p{
letter-spacing: 1px;
margin-bottom: 40px;    
}
.contact-us textarea {height:108px}
.contact-us input[type="text"],
.contact-us textarea{
background:rgba(82,78,78,0.5);
color:#FFF;
border:none
}
.contact-us button {
background-color:#DEB80D;
border: none;
font-size: 20px;
letter-spacing: 1px;    
}
/*===============Ending Contact us===================*/
/*===============starting Our Clients===================*/
.clients {
background:#EEE;
padding-top:20px;
padding-bottom:20px;
}
.clients img {
opacity:0.4;
margin-top:20px;
margin-bottom:20px;
}
.clients img:hover {opacity:1}
/*===============Ending  Our Clients===================*/
/*===============Starting Footer=======================*/

.footer{
background-color: #232323;
padding: 30px 0 ;
color: #6c6c6c;
overflow: hidden;
}
 
.footer .fitem h2{
font-size: 20px;
color: #fff;
font-weight: normal;
}
.footer .fitem p {
text-align: left;
line-height: 1.6;
padding-top: 20px;
color: #b1abab;
letter-spacing: 1px;
}
.footer .fitem .socialicons {
list-style: none;
padding-left: 0;  
overflow: hidden;
margin-bottom: 20px;
margin-top: 20px;
}
.footer .fitem .socialicons li {
float: left;
padding: 20px 0;
margin-left: 0;    
color:#b1abab; 
}
.footer .fitem .socialicons li:hover{
cursor: pointer;
color:#DEB80D;    
}
.footer .fitem .t-box{
padding-top: 20px;    
}
.footer .fitem .t-box a {
display: inline-block;
color:#b1abab;    
padding: 10px 5px;
border: 1px solid #6c6c6c;
margin-right: 5px;
margin-bottom: 10px;    
}
.footer .fitem .t-box a:hover{
background-color:#DEB80D;
color: white;
text-decoration: none;
}



.footer .fitem .post{ 
color:#b1abab; 
font-weight: normal;
font-size: 13px; 
margin-bottom: 20px;
margin-top: 10px;
}
.footer .fitem .custom{
padding-top: 10px;
}

.footer .fitem .post img{
float: left;
margin-right: 10px;    
}

.footer .fitem .post h5{
font-weight: normal;
font-size: 15px;
color:#ded4d4;
margin-bottom: 15px;    
}
.footer .fitem .Categ{
list-style: none;
padding-left: 0;  
overflow: hidden;
}
.footer .fitem .Categ li {
padding: 10px 5px;
border-bottom: 1px solid #6c6c6c;
color: #ded4d4;
letter-spacing: 1px;    
} 
.footer .copyright{
margin-top: 30px;
color: #b1abab;
letter-spacing: 1px;    
}
.footer .copyright span strong {
color:#DEB80D;
font-weight: normal;    
}
 
/*===============Ending  Footer========================*/
/*===============start  blog===========================*/
#blog-area{
padding-bottom: 30px;
}
.blog-box {
border-radius: 5px;
overflow: hidden;
margin-right: 3%;
margin-top: 20px;    
}
.page-title .title {
margin-bottom:20px;
font-weight: 600;
font-size: 35px; 
color: #756f6f;
}
.page-title  p {
font-size: 22px;
font-weight:700;
color: #756f6f;    
}
.blog-box .blog-details {
padding: 30px;
color: #ffffff;
background: #f2ce30;
background: linear-gradient(to right, #DEB80D 0%, #f2ce30 100%);
}
.blog-box .blog-image img {
width: 100%;
}
.blog-box .blog-details h4 a {
color: #ffffff;
}
.blog-box .blog-details p{
color: #ffffff;
letter-spacing: 1px;
}
.blog-list h5 a {
color:#333;
font-weight: 600;
} 
.blog-list {
margin-bottom: 20px;
margin-top: 20px;
}
.blog-list:last-child {
margin-bottom: 0;
}
.blog-list:after {
content: "";
display: block;
clear: both;
}
.blog-list .blog-list-image {
width: 100px;
height: 100px;
float: left;
margin-right: 15px;
margin-bottom: 20px;
border-radius: 5px;
}
.blog-list .blog-list-image img {
width: 100%;
height: 100%;    
border-radius: 5px;   
}
.blog-list .blog-list-meta {
margin-bottom: 10px;
} 
/*===============Ending  blog==========================*/
/*=========================================================*/


/*=================Starting Media==========================*/
@media(max-width:767px)
{
  .bighead{
   font-size: 23px;  
    }
  .about h3{
    margin-bottom: -15px;
    font-size: 16px;
    max-width: 330px;    
    }
  .about .info .lead{
    font-size: 18px;
    max-width: 330px;
    line-height:1.3;  
    }
  .navbar-nav > li > a {
    padding-bottom:10px;
    padding-top: 10px;
    font-size: 15px;
   }
  .dropdown-menu .divider{
     background-color:#deb80d;
     height: 2px;    
    }
  .Newsletter .form-control {
   margin: auto;  
  }
  .Newsletter .form-inline button {
     margin: 10px auto;
    }
  .Newsletter p{
    font-size: 16px;
    }
}




/*=================Ending Media============================*/













 








 
/*========Mifiying code===========*/
.our-team,
.statistics,
.contact-us{
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}
.clients img,
.statistics .stats,
.testimonials .carousel-indicators li {
    -webkit-transition:all .7s ease-in-out;
    -moz-transition:all .7s ease-in-out;
    -o-transition:all .7s ease-in-out;
    transition:all .7s ease-in-out;
}





/*=============End================*/