.body{
padding-top: 70px;
/*font-family: 'Montserrat', sans-serif;*/
 font-family: 'Poppins', sans-serif;
}

/*==============Start Navbar===========*/
.navbar{
min-height: 55px;
}
.navbar-inverse .navbar-brand{
line-height: 30px;
font-size: 30px; 
color:#fff;    
}
.navbar-brand span{
color: #deb80d;
}
.navbar-toggle{
margin-top: 10px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{
color: #deb80d ;
font-weight: 600;    
border-bottom:2px solid  #deb80d;
   
}
.navbar-nav > li > a{
padding-bottom: 20px;
padding-top: 20px;    
font-size: 16px;
}
.dropdown-menu {
background-color:#333;
border-top: 2px solid #deb80d;
min-width: 180px;     
}
.navbar-right .dropdown-menu{
left: 0;
right: auto;
}
.dropdown-menu > li > a {
color: #fff;
padding: 7px 20px;    
transition: padding 0.5s ease;    
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
background-color:#deb80d;
color: #fff;
padding-left: 30px;
}
.dropdown-menu .divider{
background-color:#deb80d;
height: 2px;    
}
/*================End= Navbar==================*/
/*============== Start Carousel================*/
.carousel .overlay {
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}
.carousel-caption{
bottom: 170px;
}
.item .carousel-caption h2 span{
color: #deb80d;
font-weight: 700;    
}
.item .carousel-caption h2{
margin-bottom: 30px;
font-size: 4.5rem; 
}
.item .carousel-caption p{
line-height: 1.7;
font-weight: normal;  
}

.carousel-indicators li{
border: 1px solid #deb80d;
width: 12px;
height: 12px;    
}
.carousel-indicators .active{
background-color: #deb80d;
width: 13px;
height: 13px;    
}
/*================ End Carousel================*/
/*=========Starting About Section=============*/
.about{
color: #756f6f;    
padding-top: 60px;
padding-bottom: 60px;    
}
.about span {
color: #deb80d;
font-weight:600;    
}
.about h3{
max-width: 600px;
margin: 0 auto;
margin-top: 25px;
margin-bottom: 25px;    
font-size: 25px;    
}

.about .info {
/*
float: right;
width: 48%;
*/
margin-bottom:20px;
margin-top: 20px;   
}
.about .info img {
margin: 30px 0 10px 0 ;
width: 150px;
height: 150px;
vertical-align: middle;
} 
.about .info .lead{
margin: 0 auto;    
max-width: 700px;    
font-size: 25px;
color: #888;
margin-top: 15px;
font-size: 22px; 
line-height: 3.5rem;    
}
/*====Video  Section====*/
/*
.about .video {
float: left;
width: 48%;
margin-bottom:20px;
margin-top: 20px;
margin-right: 2%;    
position: relative;
width: 570px;
height: 380px;    
}
.about .video .vicon{
display: block;
position: absolute;
margin: 139px 200px auto;
width: 30%;
font-size: 82px;
color: #deb80d;
text-align: center;
font-weight: normal;    
}   
*/
/*=============Ending About Section=============*/
/*============Starting Features Scetion==========*/
.features{
padding-top: 30px;
padding-bottom: 50px;
background-color: #fbfbfb;    
}
.features h2 {
text-align: center;
margin-bottom: 50px;
font-weight: 600;    
color: #756f6f;
font-size: 35px;     
}
.features .squre{
margin-bottom:30px;
}
.features .squre i{
color:#deb80d; 
margin-right:15px; 
margin-top: 15px;
} 
.features .squre  h3 {
font-weight: 600;
font-size: 21px;    
}
.features .squre p {
line-height: 2.4rem;    
}
/*============Ending Features Scetion==========*/
/*=========Starting Testimonials================*/
.Testimonials{
padding-bottom: 50px;
padding-top: 50px;
background-color: #EEEEEE;    
}
.Testimonials h2{
margin-bottom:30px;
font-weight: 600;
color: #756f6f;
font-size: 35px;    
}
.Testimonials .lead {
line-height:1.5em;
margin-bottom:20px;
}
.Testimonials span {
font-size:20px;
font-weight:bold;
color:#deb80d;    
}
.Testimonials .carousel-inner {
min-height:160px;
}
.Testimonials .carousel-indicators {
position:static;
width:100%;
margin-left:auto;
padding-top:20px;
}
.Testimonials .carousel-indicators li{
text-indent: 0;
width: 50px;
height: 50px;
border: none;
opacity: .4;
border-radius: 50%;
overflow: hidden;
margin: 3px;
transition:all 0.5s ease;
}
.Testimonials .carousel-indicators li.active{
opacity: 1;
background: none;
border: 3px solid #deb80d;   
}
.Testimonials .carousel-indicators li img {
max-width: 100%;
}
/*=========Ending Testimonials==================*/
/*=============Starting Prices==================*/
.price-table{
text-align: center;
}
.price-table h2{
margin-bottom:30px;
font-weight: 600;
color: #756f6f;
font-size: 35px;  
}
.price-table .content {
height: 300px;    
background-color:white;
box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.17);    
border-radius: 5px;
text-align: center;
margin-bottom: 20px;
}
.price-table .content h3 {
font-weight: 600;
font-size: 20px;   
padding-top: 25px;    
}
.price-table .content .cover {
 width: 100%;
 height:180px;
 background-color: chartreuse;    
 position: relative;    
}
.price-table .content .cover .c-overlay{
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
display: none;
}
.price-table .content .cover .c-overlay button{
font-size: 16px;
letter-spacing: 1xp;    
border: 1px solid #fff;
background: none;
color: #fff;    
width: 180px;
height: 50px;
display: block;
margin: 60px auto;
text-align: center; 
}
.price-table .content .cover .c-overlay button:hover{
background-color:#DEB80D;       
color: white;
border: none;
border-radius: 20px; 
font-size: 17px;
letter-spacing: 1px;
}
.price-table .content .cover img {
width: 100%;
height: 100%;
}
.price-table .content .cover:hover .c-overlay{
display: block;
}
.price-table .content .btn{
width: 150px;
}
/*===============Ending Prices==================*/
/*===============starting Team==================*/
.our-team{
margin-top: 30px;
background: url("../images/twitterhead.jpg") no-repeat center center fixed;
min-height:600px;
}
.our-team .team{
background:rgba(2,2,2,0.6);
color: white;
min-height: 600px;
padding-bottom: 20px;
padding-top: 20px;    
}
.our-team .team h2{
margin-bottom:20px;
font-weight: 600;
font-size: 35px; 
}
.our-team .member {
height: 350px;    
background-color:white;
box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.17);    
border-radius: 5px;
text-align: center;
margin-bottom: 20px;
border-radius: 10px;    
}
 
.our-team .member .item {
 width: 100%;
 height:300px;
 background-color: chartreuse;    
 position: relative;
margin-top: 40px;
}
.our-team .member .item .c-overlay{
background-color: rgb(0,0,0,.7);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
display: none;
border-radius: 10px 10px 0 0;   
}
.our-team .member .item .c-overlay button{
font-size: 16px;
letter-spacing: 1xp;    
border: 1px solid #fff;
background: none;
color: #fff;    
width: 180px;
height: 50px;
display: block;
margin: 10px auto;
text-align: center; 
}
.our-team .member .item .c-overlay button:hover{
background-color:#DEB80D;       
color: white;
border: none;
border-radius: 20px; 
font-size: 17px;
letter-spacing: 1px;    
}
.our-team .member .item .c-overlay h4{
margin-top: 20px;
}
.our-team .member .item .c-overlay p {
font-size: 16px;
letter-spacing: 1xp;
color: #fff;
text-align: center;
font-weight: normal;
margin-bottom: 5px;
line-height: 2;
}
.our-team .member .item .c-overlay .social-links{
height: 60px;
width: 170px;    
margin: auto;
margin-top: 10px;    
}
.our-team .member .item .c-overlay .social-links i:hover {
color:#DEB80D;
cursor: pointer;
}
.our-team .member .item img {
width: 100%;
height: 100%;
border-radius: 10px 10px 0 0; 
}
.our-team .member .item p {
margin: 10px;
color: #DEB80D;
font-size: 22px;
font-weight: 600;
}
.our-team .member .item:hover .c-overlay{
display: block;
}
/*===============Ending Team====================*/


